.rbc-header{
    background-color: #ffffff !important;
    color: #000000 !important;
    height: 30px;
    text-align: center;
    font-size: 100%;
    line-height: 25px;
}

.rbc-header .rbc-today{
    background-color: #0067b7 !important;
}
.rbc-calendar {
    margin-top: 30px !important;
    height: 1000px;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.calendar-container {
    flex: 1;
    margin-bottom: 50px;
}

.rbc-toolbar-label{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.4rem;
}

.employees_schedule_home li div {
    border: 1px solid #000;
}


.rbc-row-content{
    height: 0px;
}
.rbc-current-time-indicator{
    background-color: rgb(209, 0, 0) !important;
}
.rbc-allday-cell{
    height: 0px !important;
}

.rbc-toolbar .rbc-btn-group {
    display: flex;
    flex-wrap: wrap;
}

.rbc-toolbar .rbc-toolbar-label {
    text-align: center;
    margin: 5px 0;
}
.employees_schedule_home ul {
    list-style-type: none;
    padding: 0;
}

.employees_schedule_home{
    padding-left: 50px !important;
    padding-top: 50px !important;
    margin-top: 100px !important;
}

.calendar_container {
    height: 1000px;
}
.rbc-calendar{
    margin-top: 0 !important;
}

.goToDate{
    margin-left: 50px;
    padding-top: 10px;
}

@media (max-width: 600px) {
    .calendar_container {
        height: 700px !important;
    }

    .employees_schedule_home{
        margin-top: 100px;
    }

    select, input[type="date"] {
        padding: 0.25rem;
        font-size: 0.8rem;
    }

    .goToDate{
        margin-left: 20px
    }

    .filterby{
        margin-left: 20px !important;
    }
}

@media screen and (max-width: 868px) {
    .rbc-toolbar {
        flex-direction: column;
        align-items: center;
    }

    .rbc-toolbar .rbc-btn-group {
        justify-content: center; 
        margin-top: 5px;
    }

    .rbc-toolbar .rbc-toolbar-label {
        order: -1; 
       
    }
}

.rbc-calendar {
    font-size: 1rem;
    margin: 50px;
    padding-top: 100px;
}

@media (max-width: 600px) {
    .rbc-calendar {
        font-size: 0.8rem;
        margin: 20px;
    }

    .rbc-header {
        font-size: 0.7rem;
    }

    .rbc-event {
        font-size: 0.7rem;
        padding: 2px;
    }

    .rbc-toolbar button {
        padding: 5px;
        font-size: 0.8rem;
    }

    h2{
        padding-top: 3rem;
    }

    h1{
        font-size: 1.5rem !important;
    }
}
